$handle: "activity-card";

.#{$handle} {
	> article {
		> a {
			position: relative;
			display: block;
			aspect-ratio: 4 / 3;

			> img {
				@include fullOverlay;
				object-fit: cover;
			}

			> h3 {
				@include font("heading", 2);
				@include absolute(auto, auto, var(--s-sm), var(--s-sm));
				max-width: calc(100% - (2 * var(--s-sm)));
				padding: var(--s-sm);
				background-color: var(--c-white);
				color: var(--c-fg-dk);
			}
		}
	}
}
