$handle: "activity-card";

.#{$handle} {
	> article {
		> a {
			position: relative;
			display: block;
			aspect-ratio: 4 / 3;

			> img {
				@include fullOverlay;
				object-fit: cover;
			}

			> h3 {
				@include button($size: "lg", $invert: true);
				@include absolute(auto, auto, var(--s-sm), var(--s-sm));
				max-width: calc(100% - (2 * var(--s-sm)));
			}
		}
	}
}
