$handle: "class-details";

.#{$handle} {
	@include container;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin: var(--s-lg) auto;

	> div:first-child {
		width: 100%;

		@include media("sm") {
			width: calc(50% - var(--s-sm);
		}

		> header {
			margin-bottom: var(--s-md);

			> h2 {
				@include font("heading", "lg");
			}
		}

		> article {
			@include card;
			margin-top: var(--s-sm);

			> h3 {
				@include font("heading", "md");
				margin-bottom: var(--s-sm);
			}
		}
	}

	> div:last-child {
		width: 100%;
		margin-top: var(--s-md);

		@include media("sm") {
			width: calc(50% - var(--s-sm);
			margin: 0;
		}

		> header {
			margin-bottom: var(--s-md);

			> h2 {
				@include font("heading", "lg");
			}
		}

		> details {
			width: 100%;
			background-color: var(--c-white);
			border: 1px solid var(--c-br-lt);
			border-top: 0;

			&:first-of-type {
				border-top: 1px solid var(--c-br-lt);
				border-top-left-radius: var(--s-br-md);
				border-top-right-radius: var(--s-br-md);
			}

			&:last-of-type {
				border-bottom-left-radius: var(--s-br-md);
				border-bottom-right-radius: var(--s-br-md);
			}

			> summary {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: var(--s-sm);
				cursor: pointer;

				> h3 {
					@include font("heading", "md");
					display: flex;
					align-items: center;

					> i {
						width: var(--s-icon-xs);
						height: var(--s-icon-xs);
						margin-right: var(--s-xs);
						background-color: var(--c-subject);
						border-radius: 50%;
					}
				}

				> i {
					@include cross;
					flex-shrink: 0;
				}
			}

			&[open] > summary > i {
				transform: rotate(45deg);
			}

			> div {
				padding: 0 var(--s-sm) var(--s-sm);

				> h4 {
					@include font("heading", "sm");
				}

				> div {
					@include richText("sm");
					margin-top: var(--s-xs);

					+ h4 {
						margin-top: var(--s-sm);
						padding-top: var(--s-sm);
						border-top: 1px solid var(--c-br-lt);
					}
				}
			}
		}
	}
}
