$handle: "class-listing";

.#{$handle} {
	@include pad(var(--s-sm));
	@include space(var(--s-md));

	@include media("sm") {
		@include pad(var(--s-lg), var(--w-xl));
		@include space(var(--s-lg));
	}

	> header {
		display: flex;
		justify-content: center;
		margin-bottom: var(--s-md);

		> h2 {
			@include font("heading", "lg");
		}
	}

	> ul {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: var(--s-sm);

		> li {
			grid-column: span 6;

			@include media("sm") {
				grid-column: span 4;
			}

			@include media("md") {
				grid-column: span 2;
			}

			// &:nth-child(1),
			// &:nth-child(2),
			// &:nth-child(3){
			// 	@include media("sm") {
			// 		grid-column: span 4;
			// 	}
			// }
		}
	}
}
