$handle: "class-hero";

.#{$handle} {
	@include pad(var(--s-sm));
	@include space(var(--s-sm), 0);
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;

	@include media("sm") {
		@include pad(var(--s-md));
		@include space(var(--s-lg), 0);
	}

	> div:first-child {
		position: relative;
		z-index: 3;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;

		@include media("sm") {
			width: calc(60% - var(--s-md));
		}

		> *:not(:first-child) {
			margin-top: var(--s-sm);
		}

		> div {
			@include richText("sm");
		}

		> h1 {
			@include font("heading", "xl");
			text-wrap: balance;
		}

		> address {
			display: flex;
			align-items: center;

			> a {
				display: flex;
				align-items: center;
			}

			img {
				width: var(--s-icon-lg);
				height: var(--s-icon-lg);
				margin-right: var(--s);
				border-radius: 50%;
				object-fit: cover;
			}

			h2 {
				@include font("eyebrow");
			}
		}

		> div {
			@include richText;

			> p {
				@include font("body", "lg");
			}
		}

		> a {
			@include font("link");
			color: var(--c-green);

			&:hover {
				text-decoration: underline;
			}
		}
	}

	> div:last-child {
		order: -1;
		width: 100%;

		@include media($max: "xs") {
			margin-bottom: var(--s-md);
		}

		@include media("sm") {
			width: calc(40% - var(--s-md));
		}

		> figure {
			aspect-ratio: 4 / 3;
		}
	}
}
