$handle: "class-footer";

.#{$handle} {
	@include pad(var(--s-sm));
	@include space(var(--s-sm));
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;

	@include media("sm") {
		@include pad(var(--s-md));
		@include space(var(--s-lg));
	}

	> div {
		width: 100%;

		@include media("sm") {
			width: calc(50% - var(--s-sm));
		}

		@include media("md") {
			width: calc(65% - var(--s-sm));
		}

		> header {
			> h2 {
				@include font("heading", "lg");
			}
		}

		> div {
			@include richText;
			margin-top: var(--s-sm);
		}
	}

	> article {
		width: 100%;

		@include media($max: "xs") {
			margin-top: var(--s-md);
		}

		@include media("sm") {
			width: calc(50% - var(--s-sm));
			margin-left: var(--s-md);
		}

		@include media("md") {
			width: calc(35% - var(--s-sm));
		}

		> figure {
			position: relative;
			overflow: hidden;
			border-top-left-radius: var(--s-br-md);
			border-top-right-radius: var(--s-br-md);
			aspect-ratio: 1 / 1;

			> img {
				object-fit: cover;
			}
		}

		> div {
			border-top-left-radius: 0;
			border-top-right-radius: 0;

			> h3 {
				@include font("heading", "md");
				margin-bottom: var(--s-sm);
			}
		}
	}
}
