@use "../base/layout" as *;
@use "../base/typography" as *;

$handle: "class-card";

.#{$handle} {
	> article {
		> a {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;;
			align-items: flex-end;
			padding: var(--s-sm);
			background-color: var(--color-lt);
			aspect-ratio: 4 / 3;

			&:after {
				@include absolute(auto, auto, 0, 0);
				content: "";
				transform-origin: bottom left;
				border-width: 0 var(--s-sm) var(--s-sm) 0;
				border-style: solid;
				border-color: var(--c-bg-lt) var(--color-dk) ;
				transition: transform var(--a-xs);
			}

			&:hover:after {
				transform: scale(1.1);
			}

			> h3 {
				@include font("heading", "md");
				transform-origin: bottom right;
				margin: auto 0 0;
				color: var(--c-black);
			}

			&:hover > h3 {
				text-decoration: underline;
			}
		}
	}
}
