$handle: "color-split";

.#{$handle} {
	@include pad(var(--s-sm));
	display: flex;
	flex-wrap: wrap;
	margin: var(--s-md) auto;

	@include media("sm") {
		@include pad(var(--s-lg), var(--w-xl));
		margin: var(--s-lg) auto;
	}

	> header {
		@include pad(var(--s-sm), var(--w-sm));
		@include space(var(--s-md));
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		width: 100%;

		@include media ($max: "sm") {
			border-top-left-radius: var(--s-br-lg);
			border-top-right-radius: var(--s-br-lg);
		}

		@include media("md") {
			@include pad(var(--s-md), var(--w-sm), 50%);
			width: 40%;
		}

		&:after {
			content: "";
			background-color: inherit;

			@include media($max: "sm") {
				@include absolute(auto, 0, calc(-1 * var(--s-br-lg)), 0);
				height: var(--s-br-lg);
			}

			@include media("md") {
				@include absolute(0, auto, 0, auto);
				width: var(--s-br-lg);
			}
		}

		> *:not(:first-child) {
			margin-top: var(--s-sm);
		}

		> h2 {
			@include font("heading", "md");
		}

		> h3 {
			@include font("eyebrow");
			order: -1;
		}
	}

	&--heading-position-left > header {
		@include media("md") {
			border-top-left-radius: var(--s-br-lg);
			border-bottom-left-radius: var(--s-br-lg);
		}

		&:after {
			@include media("md") {
				right: calc(-1 * var(--s-br-lg));
			}
		}
	}

	&--heading-position-right > header {
		@include media("md") {
			border-top-right-radius: var(--s-br-lg);
			border-bottom-right-radius: var(--s-br-lg);
		}

		&:after {
			@include media("md") {
				left: calc(-1 * var(--s-br-lg));
			}
		}
	}

	&--heading-alignment-top > header {
		justify-content: flex-start;
	}

	&--heading-alignment-bottom > header {
		justify-content: flex-end;
	}

	> div {
		@include richText;
		@include pad(var(--s-sm), var(--w-sm));
		@include space(var(--s-md));
		position: relative;
		z-index: 1;
		width: 100%;

		@include media("md") {
			@include pad(var(--s-md), var(--w-sm), 50%);
			width: 60%;
		}
	}

	&--heading-position-left > div {
		@include media ($max: "sm") {
			border-radius: var(--s-br-lg);
			border-top-left-radius: 0;
		}

		@include media("md") {
			border-top-right-radius: var(--s-br-lg);
			border-bottom-right-radius: var(--s-br-lg);
			border-bottom-left-radius: var(--s-br-lg);
		}
	}

	&--heading-position-right > div {
		@include media ($max: "sm") {
			border-radius: var(--s-br-lg);
			border-top-right-radius: 0;
		}

		@include media("md") {
			order: -1;
			border-top-left-radius: var(--s-br-lg);
			border-bottom-left-radius: var(--s-br-lg);
			border-bottom-right-radius: var(--s-br-lg);
		}
	}
}
