@use "../base/layout" as *;
@use "../base/typography" as *;

$handle: "cta";

.#{$handle} {
	position: relative;
	border-radius: var(--s-br-sm);
	white-space: nowrap;
	transition: border-radius var(--a-xs);;

	&:after {
		@include absolute(auto, 0, 0, 0);
		opacity: 0;
		transform: translateY(var(--s));
		border-bottom: 1px solid var(--c-black);
		transition: opacity var(--a-xs), transform var(--a-xs);
	}

	&:hover:after {
		opacity: 1;
		transform: translateY(0);
	}

	&--type-primary:not(#{$handle}--invert) {
		background-color: var(--c-black);
		color: var(--c-white);
		border: 1px solid var(--c-black);
	}

	&--type-primary.#{$handle}--invert {
		background-color: var(--c-white);
		color: var(--c-black);
		border: 1px solid var(--c-white);
	}

	&--type-secondary:not(#{$handle}--invert) {
		background-color: transparent;
		color: var(--c-black);
		border: 1px solid var(--c-black);
	}

	&--type-secondary.#{$handle}--invert {
		background-color: transparent;
		color: var(--c-white);
		border: 1px solid var(--c-white);
	}

	&--type-tertiary:not(#{$handle}--invert) {
		padding: 0;
		background-color: transparent;
		color: var(--c-black);

		&:after {
			content: "";
		}
	}

	&--type-tertiary.#{$handle}--invert {
		padding: 0;
		background-color: transparent;
		color: var(--c-white);

		&:after {
			content: "";
			border-color: var(--c-white);
		}
	}

	&--size-sm {
		@include font("link", "sm");
		padding: 0 var(--s-xs);
	}

	&--size-md {
		@include font("link", "md");
		padding: 0 var(--s-sm);
	}

	&--size-lg {
		@include font("link", "lg");
		padding: 0 var(--s-md);
	}

	&:hover {
		border-radius: 0;
	}

	> span {
		display: flex;
		align-items: center;
		transition: transform var(--a-xs);
		cursor: var(--cursor-pointer);

		> svg {
			@include centerer(false, true);
			left: calc(-1 * var(--size));
			opacity: 0;
			width: var(--size);
			height: var(--size);
			transition: opacity var(--a-sm);
		}
	}

	&--type-primary:not(#{$handle}--invert) > span > svg {
		fill: var(--c-white);
	}

	&--type-primary.#{$handle}--invert > span > svg {
		fill: var(--c-black);
	}

	&--type-secondary:not(#{$handle}--invert) > span > svg {
		fill: var(--c-black);
	}

	&--type-secondary.#{$handle}--invert > span > svg {
		fill: var(--c-white);
	}

	&--type-tertiary > span > svg {
		display: none;
	}

	&:not(.#{$handle}--type-tertiary):hover > span {
		transform: translateX(calc(0.5 * var(--size)));

		> svg {
			opacity: 1;
		}
	}
}
