@use "../base/layout" as *;
@use "../base/typography" as *;

$handle: "expandable-text";

.#{$handle} {
	display: flex;
	flex-direction: column;

	> [type="checkbox"]:checked ~ div {
		max-height: inherit;
		text-overflow: inherit;
	}

	> label {
		order: 2;
		align-self: flex-end;
		margin-top: var(--s-sm);
		color: var(--c-green);

		> span {
			display: flex;
			align-items: center;

			&:after {
				margin-left: calc(0.5 * var(--s-xs));
			}
		}

		> span:first-child {
			&:after {
				content: "+";
			}
		}

		> span:last-child {
			display: none;

			&:after {
				content: "-";
			}
		}
	}

	> [type="checkbox"]:checked + label {
		> span:first-child {
			display: none;
		}

		> span:last-child {
			display: block;
		}
	}

	> div {
		@include lineOverflow(var(--n-lines), 1.4em);
		position: relative;
		padding-bottom: var(--s-md);

		&:after {
			@include absolute(auto, 0, 0, 0);
			content: "";
			height: var(--s-md);
			background: linear-gradient(to top, var(--c-white), transparent);
		}
	}

	&--size-sm > div {
		@include richText("sm");
	}

	&--size-md > div {
		@include richText;
	}
}
