$handle: "figure";

.#{$handle} {
	> figure {
		display: block;
		width: 100%;

		> div {
			position: relative;
			overflow: hidden;
			box-shadow: 2px 2px var(--s-xs) rgba(0, 0, 0, 0.35);

			> img {
				width: 100%;
				filter: saturate(110%);

				&[data-big-url] {
					cursor: zoom-in;
				}
			}

			> video {
				@include absolute(-1px, -1px, -1px, -1px);
				width: calc(100% + 2px);
				height: calc(100% + 2px);
				background-color: var(--c-black);
			}
		}

		> figcaption {
			@include font("body", "sm");
			padding: var(--s-xs);
		}
	}
}
