$handle: "figure";

.#{$handle} {
	> figure {
		display: block;
		width: 100%;

		> div {
			position: relative;
			overflow: hidden;

			> img {
				width: 100%;
				filter: saturate(150%);
				background-color: var(--c-black);
			}

			> video {
				@include absolute(-1px, -1px, -1px, -1px);
				width: calc(100% + 2px);
				height: calc(100% + 2px);
				background-color: var(--c-black);
			}
		}

		> figcaption {
			@include font("body", -1);
			padding: var(--s-xs);
		}
	}
}
