$handle: "figure";

.#{$handle} {
	> figure {
		position: relative;
		overflow: hidden;
		display: block;
		background-color: var(--c-white);
		border: 1px solid var(--c-br-lt);
		border-radius: var(--s-br-md);

		> img {
			width: 100%;
			filter: saturate(150%);
		}

		> figcaption {
			@include font("body", -1);
			padding: var(--s-sm) var(--s-md);
			color: var(--c-black);
		}

		> video {
			@include absolute(-1px, -1px, -1px, -1px);
			width: calc(100% + 2px);
			height: calc(100% + 2px);
			object-fit: cover;
		}
	}
}
