$handle: "footer";

.#{$handle} {
	@include pad(var(--s-sm));
	@include space(var(--s-md), var(--s-lg));
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: var(--c-bg-dk);
	color: var(--c-fg-lt);

	@include media("sm") {
		@include pad(var(--s-md), var(--w-xl));
		@include space(var(--s-lg), var(--s-xl));
	}

	> header {
		width: 100%;
		margin-bottom: var(--s-sm);

		@include media("sm") {
			display: flex;
			justify-content: center;
			text-align: center;
		}

		> h3 {
			@include font("heading", "md");
			text-wrap: balance;
		}
	}

	> ul {
		display: grid;
		gap: var(--s-sm);
		grid-template-columns: repeat(2, 1fr);
		place-items: center;
		width: 100%;
		margin-bottom: var(--s-md);
		padding: var(--s-sm);
		background-color: var(--c-white);

		@include media("sm") {
			grid-template-columns: repeat(5, 1fr);
			margin-bottom: var(--s-lg);
		}

		@include media("md") {
			gap: var(--s-md);
		}

		> li {
			> a {
				display: block;
				height: 100%;
			}

			img {
				height: 100%;
				aspect-ratio: 1 / 1;
				object-fit: contain;
				object-position: center;
			}
		}
	}

	> address {
		@include font("body", "lg");
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;

		@include media("md") {
			width: var(--w-xs);
		}

		> *:not(:first-child) {
			margin-top: var(--s-sm);
		}

		> ul {
			display: flex;

			> li {
				margin-right: var(--s-sm);

				> a {
					display: block;
					width: var(--s-icon-lg);
					height: var(--s-icon-lg);
				}
			}
		}
	}

	> nav {
		width: 100%;

		@include media($max: "sm") {
			margin-top: var(--s-md);
		}

		@include media("md") {
			width: calc(100% - var(--w-xs) - var(--s-md));
		}

		> ul {
			@include media("sm") {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
			}

			> li {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				width: 100%;
				margin-bottom: var(--s-sm);

				@include media("sm") {
					margin-right: var(--s-sm);
				}

				> h3 {
					@include font("eyebrow");
				}

				> a {
					@include font("link", "sm");
					margin-top: var(--s-xs);
				}
			}
		}
	}
}
