$handle: "gallery";

.#{$handle} {
	@include pad(var(--s-sm));
	@include space(var(--s-md));
	background-color: var(--bg-color);

	@include media("sm") {
		@include pad(var(--s-lg), var(--w-xl));
		@include space(var(--s-lg));
	}

	> header {
		margin-bottom: var(--s-md);

		@include media("sm") {
			display: flex;
			justify-content: center;
			text-align: center;
		}

		> h2 {
			@include font("heading", "lg");
			max-width: var(--w-md);
			text-wrap: balance;
		}
	}

	> ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;;

		@include media("sm") {
			justify-content: center;
		}

		> li {
			width: calc((100% / 2) - var(--s-sm));
			margin-right: var(--s-sm);
			margin-bottom: var(--s-sm);

			@include media("sm") {
				width: calc((100% / 3) - var(--s-sm));
			}

			@include media("lg") {
				width: calc((100% / 4) - var(--s-sm));
			}
		}
	}
}
