$handle: "header";

.#{$handle} {
	@include pad(var(--s-sm));
	position: fixed;
	z-index: 10;
	top: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;

	@include media("sm") {
		@include pad(var(--s-md));
	}

	&:before {
		@include fullOverlay;
		content: "";
		z-index: 10;
		background-color: rgba(255, 255, 255, 0.8);
		border-bottom: 1px solid var(--c-br-dk);
		backdrop-filter: blur(var(--s-xs));
	}

	// Titan Link Logo
	> a:first-of-type {
		@include font("logo");
		position: relative;
		z-index: 10;
		display: flex;
		align-items: center;
		flex-shrink: 0;
		height: var(--h-header);
		margin-right: var(--s-md);

		&:not(:has(img)) {
			padding: var(--s) var(--s-xs);
			border-left: 1px solid var(--c-br-dk);
			border-right: 1px solid var(--c-br-dk);
		}

		> img {
			width: auto;
			height: 100%;
			max-height: var(--s-lg);
			padding: var(--s-xs) 0;
		}
	}

	// Links
	> nav {
		z-index: 10;
		width: 100%;

		@include media($max: "md") {
			@include absolute(calc(var(--h-header) + 1px), 0, auto, 0);
			@include pad(var(--s-md));
			@include space(var(--s-sm), var(--s-md));
			z-index: 9;
			opacity: 0;
			transform: translateY(-100%);
			background-color: rgba(255, 255, 255, 0.8);
			border-bottom: 1px solid var(--c-br-dk);
			backdrop-filter: blur(var(--s-xs));
			transition: transform var(--a-sm);
			pointer-event: none;
		}

		@include media($max: "xs") {
			@include pad(var(--s-sm));
		}

		> ul {
			display: flex;

			@include media($max: "md") {
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: flex-start;
			}

			@include media("lg") {
				justify-content: flex-start;
				align-items: center;
			}

			> li {
				position: relative;

				@include media($max: "md") {
					width: calc(25% - var(--s-xs));
					margin-top: var(--s-sm);
				}

				@include media($max: "sm") {
					width: calc(50% - var(--s-xs));
				}

				@include media($max: "xs") {
					width: 100%;
				}

				&:not(:first-child) {
					@include media("lg") {
						margin-left: calc(1.5 * var(--s-sm));
					}
				}

				> a {
					display: inline-block;
				}

				> label {
					@include font("link", "sm");
					display: flex;
					align-items: center;

					> svg {
						width: var(--s-icon-md);
						height: var(--s-icon-md);
						margin-left: var(--s-xs);
						fill: var(--c-black);
						transition: transform var(--a-sm);
					}
				}

				> [type="checkbox"]:checked ~ label {
					@include media($max: "md") {
						text-decoration: line-through;

						> svg {
							transform: rotate(180deg);
						}
					}
				}

				&:hover > label {
					@include media("lg") {
						text-decoration: line-through;

						> svg {
							transform: rotate(180deg);
						}
					}
				}

				> ul {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					border: 1px solid var(--c-black);

					@include media($max: "md") {
						display: none;
						margin-top: var(--s-xs);
						padding: var(--s-xs);
					}

					@include media("lg") {
						position: absolute;
						transform: translateY(calc(-1 * var(--s)));
						opacity: 0;
						min-width: var(--w);
						padding: var(--s-sm);
						background-color: var(--c-white);
						transition: opacity var(--a-sm), transform var(--a-sm);
						pointer-events: none;
					}

					> li {
						@include font("link", "sm");

						&:not(:first-child) {
							margin-top: var(--s-xs);
						}
					}
				}

				> [type="checkbox"]:checked ~ ul {
					@include media($max: "md") {
						display: flex;
					}
				}

				&:hover > ul {
					@include media("lg") {
						opacity: 1;
						transform: translateY(0);
						pointer-events: auto;
					}
				}
			}
		}

		+ a {
			position: relative;
			z-index: 10;
			margin: auto 0 auto auto;

			+ label {
				margin: auto 0 auto var(--s-sm);;

				@include media("sm") {
					margin-left: var(--s-md);
				}
			}
		}
	}

	> #nav-toggle:checked ~ nav {
		opacity: 1;
		transform: translateY(0);
		pointer-event: auto;
	}

	> label {
		display: none;
		position: relative;
		z-index: 10;
		flex-shrink: 0;
		width: var(--s-md);
		height: var(--s-sm);
		margin: auto 0 auto auto;

		@include media($max: "md") {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		> i {
			display: block;
			height: 2px;
			background-color: var(--c-black);
			transition: transform var(--a-xs);
		}
	}

	> #nav-toggle:checked ~ label {
		justify-content: center;

		> i:first-child {
			transform: rotate(-45deg) translate(0, 1px);
		}

		> i:last-child {
			transform: rotate(45deg) translate(0, -1px);
		}
	}
}
