$handle: "hero";

.#{$handle} {
	@include pad(var(--s-sm));
	@include space(var(--s-sm), var(--s-md));
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	background-color: var(--bg-color);

	@include media("sm") {
		@include pad(var(--s-md), var(--w-xl));
		@include space(var(--s-lg));
	}

	// Equal top/bottom spacing if no image present
	// &:not(:has(> div:nth-child(2))) {
	// 	@include media($max: "xs") {
	// 		padding-top: var(--s-md);
	// 	}
	// }

	&--type-narrow > div {
		width: 100% !important;

		> div {
			text-wrap: balance;
		}
	}

	> div {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;

		@include media("sm") {
			width: calc(50% - var(--s-md));
		}

		&:nth-child(2) {
			@include media($max: "xs") {
				margin-top: var(--s-sm);
			}

			@include media("sm") {
				order: -1;
			}
		}

		> h1 {
			@include font("heading", "xl");
		}

		> h2 {
			@include font("eyebrow");
			margin-top: var(--s-sm);
		}

		> h3 {
			display: flex;
			align-items: center;
			margin-top: var(--s-sm);

			> em {
				@include round;
				margin-right: var(--s-xs);
			}
		}

		> div {
			@include richText;
			margin-top: var(--s-sm);
		}

		> nav {
			display: flex;
			flex-wrap: wrap;
			margin-top: var(--s-sm);

			> *:not(:last-child) {
				margin-bottom: var(--s-xs);
				margin-right: var(--s-xs);
			}
		}
	}
}
