$handle: "home-dashboard";

.#{$handle} {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin: var(--s-lg) auto;
	padding: 0 var(--s-lg);

	@include media("lg") {
		padding: 0 var(--s-xl);
	}

	> div {
		> nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: var(--w-xs);
			height: var(--s-lg);
			margin-top: var(--s-md);
			padding: 0 var(--s-sm);
			border: 2px solid var(--c-br-lt);
			border-radius: calc(0.5 * var(--s-lg));
			transition: border-color var(--a-xs);

			&:hover {
				border-color: var(--c-teal);
			}

			> button{
				transition: transform var(--a-xs);

				&:hover {
					transform: scale(1.2);
				}

				&:disabled {
					opacity: 0.5;
					pointer-events: none;
				}
			}

			> button:first-of-type > i {
				@include chevron("left");
			}

			> button:last-of-type > i {
				@include chevron("right");
			}

			> span {
				@include font("heading", -1);
			}
		}

		> ul{
			transition: opacity var(--a-sm);

			&:empty {
				display: none;

				+ p {
					display: block;
				}
			}
		}

		&.is-loading > ul {
			opacity: 0.5;
			pointer-events: none;
		}

		> p {
			@include font("body", 1);
			display: none;
			margin-top: var(--s-lg);
		}
	}

	> div:first-child {
		width: 100%;

		@include media("sm") {
			width: calc(60% - var(--s-md));
		}

		@include media("md") {
			width: calc(70% - var(--s-md));
		}

		> h2 {
			@include font("heading", 6);
		}

		> ul:not(:empty) {
			margin-top: var(--s-md);

			> li {
				@include shadow;
				@include listMargin(var(--s-md));
			}
		}
	}

	> div:last-child {
		width: 100%;
		margin-top: var(--s-lg);

		@include media("sm") {
			width: calc(40% - var(--s-md));
			margin: 0;
		}

		@include media("md") {
			width: calc(30% - var(--s-md));
		}

		> h2 {
			@include font("heading", 5);
			margin-top: var(--s-sm);
		}

		> ul:not(:empty) {
			margin-top: var(--s-md);

			> li {
				@include listMargin(var(--s-md));
			}
		}
	}
}
