$handle: "home-dashboard";

.#{$handle} {
	@include pad("sm");
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin: var(--s-lg) auto;
	padding-top: var(--s-md);

	@include media("sm") {
		@include pad("md", var(--w-xl));
	}

	> div {
		> nav {
			display: inline-flex;
			justify-content: space-between;
			align-items: center;
			height: var(--s-md);
			margin-top: var(--s-md);
			padding: 0 var(--s-xs);
			border: 2px solid var(--c-br-lt);
			border-radius: calc(0.5 * var(--s-lg));
			transition: border-color var(--a-xs);

			&:hover {
				border-color: var(--c-teal);
			}

			> button{
				transition: transform var(--a-xs);

				&:hover {
					transform: scale(1.2);
				}

				&:disabled {
					opacity: 0.5;
					pointer-events: none;
				}

				> svg {
					width: var(--s-icon-md);
					height: var(--s-icon-md);
					fill: var(--c-black);
				}
			}

			> span {
				@include font("eyebrow");
				margin: 0 var(--s-sm);
			}
		}

		> ul{
			transition: opacity var(--a-sm);

			&:empty {
				display: none;

				+ p {
					display: block;
				}
			}
		}

		&.is-loading > ul {
			opacity: 0.5;
			pointer-events: none;
		}

		> p {
			@include font("body", "lg");
			display: none;
			margin-top: var(--s-md);
		}
	}

	> div:first-child {
		width: 100%;

		@include media("sm") {
			width: calc(60% - var(--s-sm));
		}

		> h2 {
			@include font("heading", "lg");
		}

		> ul:not(:empty) {
			margin-top: var(--s-sm);

			> li {
				@include shadow;
				@include listMargin(var(--s-sm));
			}
		}
	}

	> div:last-child {
		width: 100%;
		margin-top: var(--s-md);

		@include media("sm") {
			width: calc(40% - var(--s-sm));
			margin: 0;
		}

		> h2 {
			@include font("heading", "md");
			margin-top: var(--s-xs);
		}

		> ul:not(:empty) {
			margin-top: var(--s-md);

			> li {
				@include listMargin(var(--s-sm));
			}
		}
	}
}
