$handle: "intro";

.#{$handle} {
	@include pad(var(--s-sm));
	@include space(var(--s-sm), var(--s-md));
	background-color: var(--bg-color);

	@include media("sm") {
		@include pad(var(--s-lg), var(--w-xl));
		@include space(var(--s-lg));
	}

	> header {
		max-width: var(--w-lg);
		margin: 0 auto;

		@include media("sm") {
			text-align: center;
		}

		> h2 {
			@include font("heading", "lg");
			text-wrap: balance;
		}

		> h3 {
			@include font("heading", "sm");
			margin-top: var(--s-sm);
		}

		> div {
			@include richText("lg");
			margin-top: var(--s-md);

			@include media("sm") {
				text-wrap: balance;
			}
		}

		> nav {
			display: flex;
			justify-content: center;
			margin-top: var(--s-sm);
		}
	}
}
