$handle: "intro";

.#{$handle} {
	@include pad(var(--s-sm));

	> header {
		max-width: var(--w-lg);
		margin: 0 auto;

		@include media("sm") {
			text-align: center;
		}

		> h2 {
			@include font("heading", "lg");
		}

		> h3 {
			@include font("heading", "sm");
			margin-top: var(--s-sm);
		}

		> div {
			@include richText("lg");
			margin-top: var(--s-md);
		}
	}
}
