$handle: "media-split";

.#{$handle} {
	@include pad(var(--s-sm));
	@include space(var(--s-sm), var(--s-md));
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: var(--bg-color);

	@include media("sm") {
		@include pad(var(--s-lg), var(--w-xl));
		@include space(var(--s-lg));
	}

	&--alignment-top {
		align-items: flex-start;
	}

	&--alignment-bottom {
		align-items: flex-end;
	}

	> div {
		width: 100%;

		@include media("sm") {
			width: calc(60% - var(--s-md));
		}
	}

	> header {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		margin-top: var(--s-sm);

		@include media("sm") {
			width: calc(40% - var(--s-md));
			margin: 0;
		}

		> h2 {
			@include font("heading", "lg");
		}

		> h3 {
			@include font("eyebrow");
			margin-bottom: var(--s-sm);
		}

		> div {
			@include richText;
			margin-top: var(--s-sm);
		}

		> nav {
			margin-top: var(--s-sm);
		}
	}

	&--media-position-right > header {
		@include media("sm") {
			order: -1;
		}
	}
}
