$handle: "posts-gallery";

.#{$handle} {
	@include pad("sm", var(--w-xl));
	margin: var(--s-lg) auto;

	> header {
		margin-bottom: var(--s-md);

		@include media("sm") {
			display: flex;
			justify-content: center;
		}

		> h2 {
			@include font("heading", "lg");
			max-width: var(--w-md);
			text-wrap: balance;
		}
	}

	> ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;;

		@include media("sm") {
			justify-content: center;
		}

		> li {
			width: calc((100% / 2) - var(--s-sm));
			margin-right: var(--s-sm);
			margin-bottom: var(--s-sm);

			@include media("sm") {
				width: calc((100% / 3) - var(--s-sm));
			}

			@include media("lg") {
				width: calc((100% / 4) - var(--s-sm));
			}
		}
	}
}
