$handle: "posts-gallery";

.#{$handle} {
	margin: var(--s-3xl) auto;
	padding: 0 var(--s-lg);

	@include media("sm") {
		padding: 0 var(--s-3xl);
	}

	> header {
		margin-bottom: var(--s-lg);

		@include media("sm") {
			display: flex;
			justify-content: center;
		}

		> h2 {
			@include font("heading", 4);
			max-width: var(--w-md);
			text-wrap: balance;
		}
	}

	> ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;;

		@include media("sm") {
			justify-content: center;
		}

		> li {
			width: calc((100% / 2) - var(--s-md));
			margin-right: var(--s-md);
			margin-bottom: var(--s-md);

			@include media("sm") {
				width: calc((100% / 3) - var(--s-md));
			}

			@include media("lg") {
				width: calc((100% / 4) - var(--s-md));
			}
		}
	}
}
