$handle: "primary-hero";

.#{$handle} {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content:: flex-end;
	align-items: flex-start;
	min-height: 65vh;
	margin: var(--s-sm);
	padding: var(--s-3xl) var(--s-lg) var(--s-lg);

	> h1 {
		@include font("heading", 5);
		position: relative;
		overflow: hidden;
		order: 2;
		padding: var(--s-sm) var(--s-md);
		background-color: var(--c-white);
		color: var(--c-fg-dk);
		border-radius: var(--s-br-md);
		box-shadow: var(--s-md) var(--s-sm) var(--c-teal);

		// &:before {
		// 	@include absolute(0, 0, auto, 0);
		// 	content: "";
		// 	height: var(--s-br-sm);
		// 	background-color: var(--c-teal);
		// }
	}

	> aside {
		@include font;
		position: relative;
		order: 2;
		max-width: var(--w-md);
		margin-top: var(--s-md);
		padding: var(--s-md);
		background-color: var(--c-white);
		color: var(--c-fg-md);
		border-radius: var(--s-br-md);
	}

	> div {
		@include absolute(var(--s-sm), var(--s-sm), var(--s-sm), var(--s-sm));
		overflow: hidden;
		border-radius: var(--s-br-md);
	}

	div[style*="background-image"] {
		filter: saturate(50%);
	}
}
