$handle: "primary-hero";

.#{$handle} {
	@include pad("sm", var(--w-xl));
	@include space(50%, var(--s-lg));
	position: relative;
	display: flex;
	align-items: flex-end;

	@include media("sm") {
		@include pad("md", var(--w-xl));
		@include space(var(--s-lg));
	}

	@include media("md") {
		@include space(var(--s-lg));
	}

	&:after {
		@include fullOverlay;
		content: "";
		z-index: 2;
		background: linear-gradient(
			to top,
			var(--c-bg-lt),
			var(--c-bg-lt) 40%,
			transparent 60%,
			transparent
		);

		@include media("sm") {
			background: linear-gradient(
				to right,
				var(--c-bg-lt),
				var(--c-bg-lt) 40%,
				transparent 60%,
				transparent
			);
		}
	}

	> img {
		@include fullOverlay;
		z-index: 1;
		object-fit: cover;
	}

	> div {
		position: relative;
		z-index: 3;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		max-width: var(--w-sm);

		> *:not(:first-child) {
			margin-top: var(--s-sm);
		}

		> h1 {
			@include font("heading", "xl");
		}

		> h2 {
			@include font("eyebrow");
			order: -1;
		}

		> div {
			@include richText("sm");
		}
	}
}
