$handle: "reminder-card";

.#{$handle} {
	overflow: hidden;
	border-radius: var(--s-br-md);

	> h4 {
		@include font("heading", 1);
		padding: var(--s-sm) var(--s-md);
		background-color: var(--c-blue-dk);
		color: var(--c-white);
	}

	> div {
		padding: var(--s-sm) var(--s-md) var(--s-md);
		background-color: var(--c-blue-lt);

		> time {
			@include font("eyebrow");
			display: block;
			margin-bottom: var(--s-sm);
		}

		> p {
			@include font("body", -1);
		}

		> nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: var(--s-sm);

			> a {
				text-decoration: underline;
			}
		}
	}
}
