@use "../base/layout" as *;
@use "../base/typography" as *;

.signup-panel {
	margin-top: var(--s-md);

	> h3 {
		@include font("heading", "md");
	}

	> ul {
		margin-top: var(--s-sm);
		padding: 0;
		list-style: none;

		> li {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: var(--s-sm);
			padding: var(--s-xs) 0;
			border-bottom: 1px solid var(--c-black);

			> span {
				@include font("body", "md");
				flex: 1 1 auto;
			}

			> mark {
				@include font("body", "sm");
				padding: 0 var(--s-xs);
				border: 1px solid var(--c-black);

				&[data-status="interested"] {
					background-color: var(--c-yellow-lt);
				}

				&[data-status="committed"] {
					background-color: var(--c-green-lt);
				}
			}

			> form > button {
				cursor: pointer;
			}
		}
	}
}
