@use "../base/layout" as *;
@use "../base/typography" as *;

$handle: "signup-panel";

.#{$handle} {
	> ul {
		margin-top: var(--s-xs);
		padding: 0;
		list-style: none;

		> li {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			gap: var(--s-sm);
			padding: var(--s-xs) 0;
			border-bottom: 1px solid var(--c-black);

			> h4 {
				> span {
					@include font("body", "md");
					margin-right: var(--s-xs);
				}

				> mark {
					@include font("body", "sm");
					padding: 0 var(--s-xs);
					border: 1px solid var(--c-black);

					&[data-status="interested"] {
						background-color: var(--c-yellow-lt);
					}

					&[data-status="committed"] {
						background-color: var(--c-green-lt);
					}
				}
			}

			> nav {
				display: flex;
				gap: var(--s-xs);
			}
		}
	}
}
