@use "../base/layout" as *;
@use "../base/media" as *;
@use "../base/typography" as *;

$handle: "team-list";

.#{$handle} {
	@include pad(var(--s-sm));
	@include space(var(--s-md));
	display: block;

	@include media("sm") {
		@include pad(var(--s-md), var(--w-xl));
		@include space(var(--s-lg));
	}

	&__flash {
		@include font("body", "md");
		margin-bottom: var(--s-md);
		padding: var(--s-sm);
		border: 1px solid var(--c-black);
		text-align: center;

		&--error {
			color: var(--c-red-dk);
		}

		&--success {
			color: var(--c-indigo-dk);
		}
	}

	&__empty {
		@include font("body", "md");
		text-align: center;
	}

	&__items {
		border-top: 1px solid var(--c-br-dk);
	}
}
