$handle: "text-block";

.#{$handle} {
	@include space(var(--s-sm));
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	> header {
		display: flex;
		flex-direction: column;
		width: 100%;

		@include media("sm") {
			justify-content: space-between;
			width: 40%;
		}

		> h3 {
			@include font("heading", "sm");

			@include media ($max: "sm") {
				margin-bottom : var(--s-sm);
			}

			@include media("md") {
				margin-bottom : var(--s-md);
			}
		}

		> div {
			display: flex;

			@include media ($max: "sm") {
				flex-direction: column;
				align-items: flex-start;
			}

			@include media("md") {
				justify-content: flex-end;
				align-items: flex-end;
			}

			> *:not(:first-child) {
				@include media("md") {
					margin-left: var(--s-md);
				}
			}

			> h4 {
				@include font("eyebrow");
				margin: 0 auto 0 0;

				@include media ($max: "sm") {
					margin-bottom : var(--s-sm);
				}
			}

			> a {
				@include media($max: "xs") {
					display: none;
				}
			}
		}
	}

	> div {
		@include richText;
		width: 100%;

		@include media("sm") {
			width: calc(60% - var(--s-lg));
		}

		em.highlight {
			background-color: var(--c-yellow-lt);
			font-style: normal;
			font-weight: 600;
		}
	}

	> footer {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		margin-top: var(--s-sm);

		@include media("sm") {
			display: none;
		}
	}
}
