$handle: "text-block";

.#{$handle} {
	@include space(var(--s-sm));
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	> header {
		display: flex;
		flex-direction: column;
		width: calc(40% - var(--s-xs));

		@include media("sm") {
			justify-content: space-between;
			width: calc(40% - var(--s-sm));
		}

		> h3 {
			@include font("heading", "sm");
		}

		> div {
			display: flex;
			margin-top : var(--s-sm);

			@include media ($max: "xs") {
				flex-direction: column;
				align-items: flex-start;
			}

			@include media("sm") {
				// justify-content: flex-end;
				align-items: center;
			}

			> *:not(:first-child) {
				@include media ($max: "xs") {
					margin-top: var(--s-sm);
				}

				@include media("sm") {
					margin-left: var(--s-sm);
				}
			}

			> h4 {
				@include font("eyebrow");
				// margin: 0 auto 0 0;
			}
		}
	}

	> div {
		@include richText;
		width: calc(60% - var(--s-xs));
		margin-top: var(--s-xs);

		@include media("sm") {
			width: calc(60% - var(--s-sm));
		}
	}
}
