$handle: "cards-listing";

.#{$handle} {
    transition: opacity var(--a-sm);

    &[aria-busy="true"] {
        opacity: 0.35;
        pointer-events: none;
    }

    > header {
        padding: var(--s-3xl) var(--s-lg) 0;

        @include media("sm") {
            padding: var(--s-3xl) var(--s-3xl) 0;
        }
    }

    > nav {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: var(--s-lg);

        @include media("sm") {
            margin: var(--s-lg) var(--s-3xl);
        }

        @include media("md") {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        @include media("lg") {
            flex-wrap: nowrap;
        }

        > em {
            @include font;
            margin: 0 0 var(--s-md) 0;
            color: var(--c-fg-md);

            @include media("md") {
                order: 2;
                margin: var(--s-md) 0 0 0;
            }

            @include media("lg") {
                margin: 0 0 0 auto;
                text-align: right;
            }
        }

        > label {
            @include font;
            display: flex;
            justify-content: space-between;;
            align-items: center;
            width: 100%;
            padding: var(--s-md);
            border: 1px solid var(--c-fg-lt);

            @include media("md") {
                display: none;
            }

            > svg {
                width: var(--s-md);
                height: var(--s-md);
                fill: var(--c-black);
            }
        }

        > ul {
            @include media($max: "sm") {
                display: none;
                width: 100%;
                border-left: 1px solid var(--c-fg-lt);
                border-right: 1px solid var(--c-fg-lt);
            }

            @include media("md") {
                display: flex;
            }

            > li {
                @include media("md") {
                    @include listMargin(var(--s-md), true);
                }

                > a {
                    @include underline(3px);
                    @include font("heading");
                    position: relative;
                    display: flex;
                    padding: var(--s-sm);
                    color: var(--c-black);
                    border-bottom: 1px solid var(--c-fg-lt);
                    transition: color var(--a-sm);

                    @include media("md") {
                        height: 100%;
                        padding: var(--s-sm) 0;
                        border-color: var(--c-black);
                    }

                    &:hover,
                    &.is-active {
                        color: var(--c-blue);
                    }
                }
            }
        }

        > [type="checkbox"]:checked ~ ul {
            @include media($max: "sm") {
                display: block;
            }
        }
    }

    > article {
        padding: 0 var(--s-3xl);
        border-top: 1px solid var(--c-br-lt);

        &[aria-hidden="true"] {
            display: none;
        }

        > div {
            padding: var(--s-xl) 0;

            @include media("md") {
                padding: var(--s-xl);
                border-left: 1px solid var(--c-br-lt);
                border-right: 1px solid var(--c-br-lt);
            }
        }
    }

    > div {
        > div {
            margin: 0;
        }
    }

    > footer {
        padding: var(--s-xl) var(--s-3xl);
    }
}
