$handle: "contact-form";

.#{$handle} {
    display: flex;
    flex-wrap: wrap;

    > aside {
        position: relative;
        width: 100%;
        padding: var(--s-3xl) var(--s-lg);
        background-color: var(--c-bg-lt);

        @include media("sm") {
            padding: var(--s-3xl);
        }

        @include media("md") {
            width: 40%;
        }

        // Callout
        > div:first-child {
            @include font("heading", 1);
            padding: var(--s-lg);
            background-color: var(--c-navy);
            color: var(--c-white);

            > p {
                @include listMargin(var(--s-sm));
            }

            a {
                color: var(--c-green-lt);
            }
        }

        // Address
        > div:last-child {
            @include font("body", -1);
            margin-top: var(--s-xl);

            > h3 {
                @include font("heading", 1);
                margin-bottom: var(--s-sm);
            }

            > p {
                @include listMargin(var(--s-xs));
                color: var(--c-fg-md);
            }

            strong {
                font-weight: bold;
            }

            a {
                color: var(--c-blue);

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: var(--s-3xl) var(--s-lg);

        @include media("sm") {
            padding: var(--s-3xl);
        }

        @include media("md") {
            width: 60%;
        }
    }
}
