$handle: "modal";

.#{$handle} {
    @include fullOverlay;
    position: fixed;
    opacity: 0;
    z-index: -1;
    background: var(--c-black);
    transition: opacity var(--1-sm), z-index var(--a-sm);

    &.is-active {
        z-index: 100;
        opacity: 1;
        transition: none;
    }

    > button {
        @include absolute(var(--s-lg), var(--s-xl));
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--s-3xl);
        height: var(--s-3xl);
        background-color: var(--c-green-dk);
        transition: background-color var(--a-sm);
        border-radius: 50%;

        @include media("md") {
            width: var(--w);
            height: var(--w);
        }

        &:hover {
            background-color: var(--c-white);
        }

        > svg {
            display: block;
            width: var(--s-icon-lg);
            height: var(--s-icon-lg);
            fill: var(--c-white);
            transition: fill var(--a-sm);
        }

        &:hover > svg {
            fill: var(--c-green-dk);
        }
    }

    > div {
        @include fullOverlay;
    }
}
