$handle: "primary-hero";

.#{$handle} {
	position: relative;
	display: flex;
	align-items: flex-end;
	min-height: 65vh;
	padding: var(--s-3xl) var(--s-lg);

	> h1 {
		@include font("heading", 6);
		position: relative;
		order: 2;
		padding: var(--s-sm);
		background-color: var(--c-white);
		color: var(--c-fg-dk);
		border-top-right-radius: var(--s-br-md);
		border-bottom-left-radius: var(--s-br-md);
	}

	div[style*="background-image"] {
		filter: saturate(85%);
	}
}
