$handle: "video-cta";

.#{$handle} {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 84px;
    background-color: var(--c-white);
    transition: background-color var(--a-sm);
    border-radius: 50%;

    @include media("md") {
        width: 114px;
        height: 114px;
    }

    &:hover {
        background-color: var(--c-green-dk);
    }

    > span {
        @include font("eyebrow", -1);
        position: absolute;
        white-space: nowrap;
        color: var(--c-white);
        transition: transform var(--a-sm);

        @include media($max: "sm") {
            display: none;
        }
    }

    &--title-position-left > span {
        right: calc(100% + var(--s-sm));
        transform: translateX(calc(var(--s-sm) * -1));
    }

    &--title-position-right > span {
        left: calc(100% + var(--s-sm));
        transform: translateX(var(--s-sm));
    }

    &:hover > span {
        transform: translateX(0);
    }

    > em {
        position: relative;
        overflow: hidden;
        display: block;
        width: 20%;
        height: 20%;

        > svg {
            @include fullOverlay;
            fill: var(--c-green-dk);
            transition: fill var(--a-sm), transform var(--a-sm);

            &:first-child {
                transform: scale(0) translateX(calc(-100% - var(--s-md)));
            }
        }
    }

    &:hover > em > svg {
        fill: var(--c-white);

        &:first-child {
            transform: scale(1) translateX(0);
        }

        &:last-child {
            transform: scale(0) translateX(calc(100% + var(--s-md)));
        }
    }
}
