{##
 # Class entry
 # @param {Entry} entry
 #}

{# Params #}
{% set entry = craft.entries.id(entry.id).with([
	'heroImage',
	'announcements',
	'posts',
]).one() %}

{# Markup #}
{% set metaTitle = entry.heading ?? entry.title ?? '' %}
{% set metaDescription = entry.overview|striptags[:160] %}

{% extends '_layouts/html' %}

{% block content %}
	<article>
		<header>
			{% include '_components/class-hero' with {
				image: craft.components.buildImage(entry.heroImage[0] ?? null),
				heading: entry.heading,
				overview: entry.overview,
			} only %}
		</header>

		<section>
			{% include '_components/class-details' with {
				announcements: entry.announcements,
				resources: entry.resources,
			} only %}
		</section>

		{# TODO: Promo #}

		<section>
			{% include '_components/posts-gallery' with {
				posts: entry.posts,
			} only %}
		</section>
	</article>
{% endblock %}
