{##
 # Class entry
 # @param {Entry} entry
 #}

{# Params #}
{% set entry = craft.entries.id(entry.id).with([
	'teacher.photo',
	'heroImage',
	'announcements',
	'posts',
]).one() %}

{# Variables #}
{% set subjectUpdates = craft.entries.section('subjectUpdates')
	.relatedTo([entry])
	.postDate('>= ' ~ now|date_modify("-6 days")|atom)
	.with(['subject'])
	.all() %}
{% set subjectUpdates = craft.entries.section('subjectUpdates')
	.relatedTo([entry])
	.with(['subject'])
	.all() %}
{% set updatesBySubject = subjectUpdates
	|group(u => u.subject[0].title ~ '-' ~ (u.subject[0].color ?? '')) %}

{# Markup #}
{% set metaTitle = entry.heading ?? entry.title ?? '' %}
{% set metaDescription = entry.overview|striptags[:160] %}

{% extends '_layouts/html' %}

{% block content %}
	<article>
		<header>
			{% include '_components/class-hero' with {
				color: entry.color.value,
				teacher: entry.teacher[0] ?? null,
				image: entry.heroImage[0] ?? null,
				heading: entry.heading,
				overview: entry.overview,
				anchor: 'resources',
			} only %}
		</header>

		<section>
			{% include '_components/class-details' with {
				announcements: entry.announcements,
				updatesBySubject: updatesBySubject,
			} only %}
		</section>

		{# TODO: Promo #}

		<section>
			{% include '_components/posts-gallery' with {
				posts: entry.posts,
			} only %}
		</section>

		<footer id="resources">
			{% include '_components/class-footer' with {
				teacher: entry.teacher[0] ?? null,
				resources: entry.resources,
			} only %}
		</footer>
	</article>
{% endblock %}
