{##
 # Class entry
 # @param {Entry} entry
 #}

{# Params #}
{% set entry = craft.entries.id(entry.id).with([
	'teacher.photo',
	'heroImage',
	'announcements',
	'posts',
]).one() %}

{# Variables #}
{% set subjectUpdates = craft.entries.section('subjectUpdates')
	.relatedTo([entry])
	.postDate('>= ' ~ now|date_modify("-6 days")|atom)
	.with(['subject'])
	.all() %}
{% set subjectUpdates = craft.entries.section('subjectUpdates')
	.relatedTo([entry])
	.with(['subject'])
	.all() %}
{% set updatesBySubject = subjectUpdates
	|group(u => u.subject[0].title ~ '-' ~ (u.subject[0].color ?? '')) %}
{% set teacher = entry.teacher[0] ?? null %}

{# Markup #}
{% set metaTitle = entry.heading ?? entry.title ?? '' %}
{% set metaDescription = entry.overview|striptags[:160] %}

{% extends '_layouts/html' %}

{% block content %}
	<article>
		<header>
			{% include '_components/hero' with {
				heading: entry.heading,
				body: entry.overview,
				person: entry.teacher|map(t => {
					title: t.fullName,
					image: t.photo ?? null,
				})[0] ?? null,
				ctas: [create({
					class: 'craft\\elements\\Entry',
					typeId: craft.app.entries.getEntryTypeByHandle('pageCta').id,
					title: 'View Resources',
					page: [entry.id],
					anchor: 'resources',
				})],
				image: entry.heroImage[0] ?? null,
				backgroundColor: entry.color.value,
			} only %}
		</header>

		<section>
			{% include '_components/text-list' with {
				heading: 'Class Announcements',
				listItems: entry.announcements,
			} only %}
		</section>

		{% set accordions = [] %}
		{% for subject, updates in updatesBySubject %}
			{% set body %}
				{{ updates|map(u => u.details)|join('<hr />')|raw }}
			{% endset %}

			{% set accordions = accordions|merge([{
				heading: subject|split('-')|first,
				body: body,
			}]) %}
		{% endfor %}

		<section>
			{% include '_components/accordion-list' with {
				heading: 'Curriculum Updates',
				accordions: accordions,
				backgroundColor: 'blue',
			} only %}
		</section>

		{# TODO: Promo #}

		<section>
			{% include '_components/gallery' with {
				heading: 'In the Classroom',
				posts: entry.posts,
			} only %}
		</section>

		{% if teacher %}
			<section>
				{% include '_components/media-split' with {
					heading: teacher.fullName,
					body: teacher.bio,
					image: teacher.photo,
					alignment: 'top',
					cta: create({
						class: 'craft\\elements\\Entry',
						typeId: craft.app.entries.getEntryTypeByHandle('externalCta').id,
						title: 'Email Me',
						referenceUrl: 'mailto:' ~ teacher.email,
					}),
				} only %}
			</section>
		{% endif %}

		<footer id="resources">
		</footer>
	</article>
{% endblock %}
