{##
 # Class entry
 # @param {Entry} entry
 # @global {GlobalSet} classes
 #}

{# Params #}
{% set heroImage = entry.heroImage.one() %}
{% set announcements = entry.announcements.all() %}
{% set featuredVideo = entry.featuredVideo.one() %}
{% set posts = entry.posts.all() %}

{# Variables #}
{% set updates = craft.entries.section('subjectUpdates')
	.relatedTo([entry])
	.with(['subject'])
	.all() %}
{% set subjects = craft.categories.group('subjects').all() %}
{% set updatesBySubject = subjects
	|map(s => updates|where(u => u.subject[0].id == s.id))
	|filter %}

{# Markup #}
{% set metaTitle = entry.heading ?? entry.title ?? '' %}
{% set metaDescription = entry.overview|striptags[:160] %}
{% set metaNoIndex = true %}

{% extends '_layouts/html' %}

{% block content %}
	<article>
		<header>
			{% include '_components/hero' with {
				heading: entry.heading,
				body: entry.overview,
				people: entry.authors|map(a => {
					title: a.fullName,
					image: a.photo ?? null,
				}),
				ctas: [create({
					class: 'craft\\elements\\Entry',
					typeId: craft.app.entries.getEntryTypeByHandle('pageCta').id,
					fieldId: 6,
					title: 'View Resources',
					page: [entry.id],
					anchor: 'resources',
				})],
				image: heroImage,
				backgroundColor: entry.color.value,
			} only %}
		</header>

		<section id="class-announcements">
			{% include '_components/text-list' with {
				heading: 'Class Announcements',
				listItems: announcements,
			} only %}
		</section>

		{% set accordions = [] %}
		{% for updates in updatesBySubject %}
			{% set subject = updates|first.subject[0].title %}

			{% set body %}
				{% for u in updates %}
					{% if not loop.first %}
						<hr />
					{% endif %}
					{% if u.image %}
						{{ u.image.render({ type: 'figure', transform: 'card' }) }}
					{% endif %}
					{{ u.details }}
				{% endfor %}
			{% endset %}

			{% set accordions = accordions|merge([{
				heading: subject,
				body: body,
			}]) %}
		{% endfor %}

		<section id="curricular-updates">
			{% include '_components/accordion-list' with {
				heading: 'Curricular Updates',
				accordions: accordions,
				backgroundColor: 'blue',
			} only %}
		</section>

		{% if featuredVideo %}
			<section id="featured-video">
				{% include '_components/media' with { image: featuredVideo } only %}
			</section>
		{% endif %}

		{% if posts is not empty %}
			<section id="posts">
				{% include '_components/gallery' with {
					heading: 'In the Classroom',
					posts: posts,
				} only %}
			</section>
		{% endif %}

		<section id="resources">
			{% set colorsLength = craft.components.colors|length %}
			{% set colorKey = craft.components.colors|filter(c => c == entry.color.value)|keys|first %}
			{% set inverseColorKey = (colorKey + (colorsLength / 2)) % colorsLength %}

			{% include '_components/color-split' with {
				heading: 'Resources',
				body: entry.resources,
				backgroundColor: craft.components.colors[inverseColorKey],
				headingAlignment: 'top',
			} only %}
		</section>

		{% for a in entry.authors %}
			<section id="teachers">
				{% include '_components/media-split' with {
					heading: a.fullName,
					body: a.bio,
					image: a.photo,
					alignment: 'top',
					mediaPosition: loop.index % 2 == 0 ? 'right' : 'left',
					cta: create({
						class: 'craft\\elements\\Entry',
						typeId: craft.app.entries.getEntryTypeByHandle('externalCta').id,
						fieldId: 6,
						title: 'Email Me',
						referenceUrl: 'mailto:' ~ a.email,
					}),
				} only %}
			</section>
		{% endfor %}

		<footer>
			{% include '_components/intro' with {
				heading: classes.staffHeading ?? '',
				body: classes.staffOverview ?? '',
				cta: create({
					class: 'craft\\elements\\Entry',
					typeId: craft.app.entries.getEntryTypeByHandle('externalCta').id,
					fieldId: 6,
					title: 'Meet Our Staff',
					referenceUrl: 'https://www.morgantondayschool.com/faculty-staff',
				}),
			} only %}
		</footer>
	</article>
{% endblock %}
