{##
 # Activities Listing json
 # @query {string} month
 #}

{# Query  #}
{% set monthParam = craft.app.request.getParam('month') %}

{# Variables #}
{% set month = date(monthParam) %}
{% set prevMonth = month|date_modify('-1 month')|atom %}
{% set nextMonth = month|date_modify('+1 month')|atom %}
{% set activities = craft.entries.section('activities')
	.with(['previewImage'])
	.relatedTo(craft.categories.group('months').slug(month|date('F')|lower).ids())
	.all() %}

{% set markup %}
	<ul>
		{% for a in activities %}
			<li>
				{% include '_components/activity-card' with {
					activity: a|merge({
						image: a.previewImage[0] ?? null,
					}),
				} only %}
			</li>
		{% endfor %}
	</ul>
{% endset %}

{# Res #}
{% header 'Content-Type: application/json' %}

{{ {
	markup: markup|spaceless,
	prevMonth: prevMonth,
	nextMonth: nextMonth,
}|json_encode|raw }}
