{##
 # Reminders Listing json
 # @query {string} week
 #}

{# Query  #}
{% set weekParam = craft.app.request.getParam('week') %}

{# Variables #}
{% set week = date(weekParam) %}
{% set prevWeek = week|date_modify('-1 week')|atom %}
{% set nextWeek = week|date_modify('+1 week')|atom %}
{% set reminders = craft.entries.section('reminders')
	.with(['activity'])
	.anyStatus()
	.postDate([
		'and',
		'>= ' ~ week|date_modify('sunday last week')|atom,
		'< ' ~ week|date_modify('saturday this week')|atom,
	])
	.all() %}

{% set markup %}
	<ul>
		{% for r in reminders %}
			<li>
				{% include '_components/reminder-card' with {
					reminder: r|merge({
						startDate: r.startDate ?? r.activity[0].startDate ?? null,
						cta: r.activity is not empty
							? craft.components.newLinkFromElement(r.activity[0])
							: r.cta
								? craft.components.newCta(r.cta[0])
								: null
					}),
				} only %}
			</li>
		{% endfor %}
	</ul>
{% endset %}

{# Res #}
{% header 'Content-Type: application/json' %}

{{ {
	markup: markup|spaceless,
	prevWeek: prevWeek,
	nextWeek: nextWeek,
}|json_encode|raw }}
