{##
 # Reminder List json
 # @query {string} week
 #}

{# Query  #}
{% set weekParam = craft.app.request.getParam('week') %}

{# Variables #}
{% set week = date(weekParam) %}
{% set prevWeek = week|date_modify('-1 week')|atom %}
{% set nextWeek = week|date_modify('+1 week')|atom %}
{% set reminders = craft.entries.section('reminders')
	.with(['activity', 'cta'])
	.postDate([
		'and',
		'>= ' ~ week|date_modify('sunday this week')|atom,
		'< ' ~ week|date_modify('saturday next week')|atom,
	])
	.orderBy('postDate ASC')
	.anyStatus()
	.all() %}

{% set markup %}
	<ul>
		{% for r in reminders %}
			<li>
				{{ r.render() }}
			</li>
		{% endfor %}
	</ul>
{% endset %}

{# Res #}
{% header 'Content-Type: application/json' %}

{{ {
	markup: markup|spaceless,
	prevParam: prevWeek,
	nextParam: nextWeek,
	current: "Week of <em>#{week|date('m/d/Y')}</em>",
}|json_encode|raw }}
