{% set cta = entry.cta[0] ?? null %}

{% set activity = entry.activity[0] ?? null %}
{% if activity %}
	{% set cta = create({
		class: 'craft\\elements\\Entry',
		typeId: craft.app.entries.getEntryTypeByHandle('pageCta').id,
		fieldId: 6,
		title: 'Learn More',
		page: [activity.id],
	}) %}
{% endif %}

{% set body %}
	<p>{{ entry.text }}</p>
{% endset %}

{% include '_components/text-block' with {
	heading: entry.title,
	subheading: entry.date,
	body: body,
	cta: cta,
} only %}
