{##
 # Activity Card component
 # @param {object} activity
 # |_@param {string} title
 # |_@param {string} url
 # |_@param {object} image
 #}

{# Params #}
{% set activity = activity ?? null %}

{# Variables #}
{% set handle = 'activity-card' %}

{# Markup #}
<div class="{{ handle }}">
	<article>
		<a href="{{ activity.url }}" title="{{ activity.title }}">
			{% if activity.image %}
				{{ activity.image.render() }}
			{% endif %}
			<h3>
				{% include '_components/text-cta' with {
					title: activity.title,
					size: 'lg',
					invert: true,
				} only %}
			</h3>
		</a>
	</article>
</div>
