{##
 # Header component
 # @param {Asset} logo
 # @param {Entry[]} navLinks
 #}

{# Params #}
{% set logo = logo ?? null %}
{% set navLinks = navLinks ?? [] %}

{# Variables #}
{% set handle = 'header' %}

{# Markup #}
{% import '_icons' as icons %}

<div class="{{ handle }}">
	<input type="checkbox" id="nav-toggle" style="display: none" />
	<a href="{{ siteUrl }}" title="Home">TITAN<br />LINK</a>
	<nav>
		<ul>
			{% for l in navLinks %}
				<li>
					{{ l.render({ type: 'tertiary' }) }}
				</li>
			{% endfor %}
		</ul>
	</nav>
	<label for="nav-toggle">
		<i aria-hidden="true"></i>
		<i aria-hidden="true"></i>
	</label>
	<div aria-hidden="true"></div>
</div>
