{##
 # Install Banner component
 #}

{# Variables #}
{% set handle = 'install-banner' %}

{# Markup #}
<div class="{{ handle }}" data-comp-name="{{ handle }}">
	<button type-"button">Add To Homescreen</button>
</div>
