{##
 # Install Banner component
 #}

{# Variables #}
{% set handle = 'install-banner' %}

{# Markup #}
<tl-install-banner class="{{ handle }}">
	<button type-"button">Add To Homescreen</button>
</tl-install-banner>
