{##
 # Modal component
 #}

{# Variables #}
{% set handle = 'modal' %}

{# Markup #}
{% import '_icons' as icons %}

<tl-modal class="{{ handle }}">
	<dialog>
		<button type="button" aria-label="Close">
			{{ icons.x() }}
		</button>
		<section></section>
	</dialog>
</tl-modal>
