{##
 # Posts Gallery component
 # @param {string} heading
 # @param {object[]} posts
 # |_@param {string} url
 # |_@param {string} caption
 #}

{# Params #}
{% set heading = heading ?? '' %}
{% set posts = posts ?? [] %}

{# Variables #}
{% set handle = 'posts-gallery' %}

{# Markup #}
<div class="{{ handle }}">
	<header>
		<h2>{{ heading }}</h2>
	</header>
	{% if posts is not empty %}
		<ul>
			{% for p in posts %}
				<li>
					{{ p.render() }}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>
