{##
 # Primary Hero component
 # @param {object} backgroundImage
 # @param {string} heading
 # @param {HTML} overview
 #}

{# Params #}
{% set backgroundImage = backgroundImage ?? null %}
{% set heading = heading ?? '' %}
{% set overview = overview ?? '' %}

{# Variables #}
{% set handle = 'primary-hero' %}

{# Markup #}
<div class="{{ handle }}">
	{% if heading is not empty %}
		<h1>{{ heading }}</h1>
	{% endif %}
	{% if overview is not empty %}
		<aside>{{ overview }}</aside>
	{% endif %}
	{% if backgroundImage %}
		{% include '_components/background-image' with {
			image: backgroundImage|merge({
				fit: 'cover',
			}),
		} only %}
	{% endif %}
</div>
