{##
 # Tab List component
 # _@param {string} heading
 # _@param {HTML} body
 #}

{# Params #}
{% set heading = heading ?? '' %}
{% set body = body ?? '' %}

{# Variables #}
{% set handle = 'sticky-details' %}

{# Markup #}
<div class="{{ handle }}">
	<header>
		<h2>{{ heading }}</h2>
	</header>
	<div>{{ body }}</div>
</div>
