{##
 # Youtube Video component
 # @param {string} videoId
 #}

{# Params #}
{% set videoId = videoId ?? null %}

{# Variables #}
{% set handle = 'youtube-video' %}

{% set params = {
	videoId: videoId,
} %}

{# Markup #}
<div
	class="{{ handle }}"
	data-comp-name="{{ handle }}"
	data-comp-params="{{ params|json_encode }}"></div>
