{##
 # Home page
 #}

{% set classes = craft.entries.section('classes')
	.with(['teacher'])
	.all() %}

{% extends '_layouts/html' %}

{% set metaTitle = 'MDS Titan Link' %}
{% set metaDescription = 'MDS Titan Link' %}

{% block content %}
	<article>
		<header>
			{% include '_components/home-dashboard' with {
				activitiesHeading: 'Upcoming',
				remindersHeading: 'Top of Mind',
			} only %}
		</header>

		<section id="classes">
			{% include '_components/classes-listing' with {
				classes: classes|map(c => c|merge({
					teacher: c.teacher[0] ?? null,
					color: c.color.value,
				})),
			} only %}
		</section>
	</article>
{% endblock %}
