{##
 # Homepage entry
 # @param {Entry} entry
 #}

{# If today is Sunday, use today, otherwise start at last sunday #}
{% set week = date()|date('w') == '0' ? date() : date('last sunday') %}
{% set prevWeek = week|date_modify('-1 week')|atom %}
{% set nextWeek = week|date_modify('+1 week')|atom %}
{% set reminders = craft.entries.section('reminders')
	.with(['activity', 'cta.pageCta:page'])
	.postDate([
		'and',
		'>= ' ~ week|date_modify('sunday this week')|atom,
		'< ' ~ week|date_modify('saturday next week')|atom,
	])
	.orderBy('postDate ASC')
	.all() %}

{% set month = date('first day of this month') %}
{% set activities = craft.entries.section('activities')
	.with(['previewImage'])
	.relatedTo(craft.categories.group('months').slug(month|date('F')|lower).ids())
	.orderBy(month|date('F')|lower ~ 'Priority')
	.all() %}

{% set classes = craft.entries.section('classes')
	.with(['featuredPost'])
	.all() %}

{% set featuredPosts = classes|map(c => c.featuredPost[0] ?? null)|filter|values %}

{% extends '_layouts/html' %}

{% set metaTitle = 'Morganton Day School Titan Link Parent Portal' %}
{% set metaDescription = entry.heroBody %}
{% set metaNoIndex = true %}

{% block content %}
	{% cache if not devMode %}
		<article>
			<p style="
				display:flex;
				justify-content:center;
				align-items:center;
				padding:var(--s-sm);
				background-color:var(--c-red-dk);
				color:var(--c-white);
				font-size: 1.5em;
				font-weight: 600;
				line-height: 1.5em;
			">
				Morganton Day School is closed Monday, September 30th through Monday, October 7th.
			</p>
			<header>
				{% include '_components/hero' with {
					heading: entry.heroHeading,
					body: entry.heroBody,
					backgroundColor: 'yellow',
					type: 'narrow',
				} only %}
			</header>

			<section>
				{% include '_components/text-list' with {
					heading: entry.remindersHeading,
					listItems: reminders,
					paginate: {
						prevParam: prevWeek,
						nextParam: nextWeek,
						current: 'Week of ' ~ week|date('m/d/Y'),
						endpoint: '/json/reminder-list',
						paramName: 'week',
						emptyText: 'No reminders for this week.',
					},
				} only %}
			</section>

			<section>
				{% include '_components/card-list' with {
					heading: entry.activitiesHeading,
					body: entry.activitiesBody,
					cards: activities,
					gridSize: '2',
					backgroundColor: 'violet',
					eagerLoad: true,
				} only %}
			</section>

			<section id="classes">
				{% include '_components/class-list' with {
					heading: entry.classesHeading,
					classes: classes|map(c => c|merge({
						color: c.color.value,
					})),
				} only %}
			</section>

			<section>
				{% include '_components/gallery' with {
					heading: entry.galleryHeading,
					posts: featuredPosts,
					backgroundColor: 'blue',
				} only %}
			</section>
		</article>
	{% endcache %}
{% endblock %}
