{##
 # Homepage entry
 # @param {Entry} entry
 #}

{% set week = date('sunday last week') %}
{% set prevWeek = week|date_modify('-1 week')|atom %}
{% set nextWeek = week|date_modify('+1 week')|atom %}

{% set reminders = craft.entries.section('reminders')
	.with(['activity', 'cta.pageCta:page'])
	.all() %}

{% set month = date('first day of this month')|date('F')|lower %}
{% set activities = craft.entries.section('activities')
	.with(['previewImage'])
	.relatedTo(craft.categories.group('months').slug(month).ids())
	.orderBy(month ~ 'Priority')
	.all() %}

{% set classes = craft.entries.section('classes')
	.with(['featuredPost'])
	.all() %}

{% set featuredPosts = classes|map(c => c.featuredPost[0] ?? null)|filter|values %}

{% extends '_layouts/html' %}

{% set metaTitle = 'MDS Titan Link' %}
{% set metaDescription = 'MDS Titan Link' %}

{% block content %}
	<article>
		<header>
			{% include '_components/hero' with {
				heading: entry.heroHeading,
				subheading: 'Titan Link',
				body: entry.heroBody,
				backgroundColor: 'yellow',
			} only %}
		</header>
		<section>
			{% include '_components/text-list' with {
				heading: entry.remindersHeading,
				listItems: reminders,
				paginate: {
					prevParam: prevWeek,
					nextParam: nextWeek,
					current: 'Week of ' ~ week|date('m/d/Y'),
					endpoint: '/json/reminder-list',
					paramName: 'week',
					emptyText: 'No reminders for this week.',
				},
			} only %}
		</section>

		<section>
			{% include '_components/card-list' with {
				heading: entry.activitiesHeading,
				body: entry.activitiesBody,
				cards: activities,
				gridSize: '2',
				backgroundColor: 'violet',
			} only %}
		</section>

		<section id="classes">
			{% include '_components/class-list' with {
				heading: entry.classesHeading,
				classes: classes|map(c => c|merge({
					color: c.color.value,
				})),
			} only %}
		</section>

		<section>
			{% include '_components/gallery' with {
				heading: entry.galleryHeading,
				posts: featuredPosts,
				backgroundColor: 'blue',
			} only %}
		</section>
	</article>
{% endblock %}
