{% extends '_layouts/html' %}

{% set metaTitle = 'MDS Titan Link' %}
{% set metaDescription = 'MDS Titan Link' %}

{% block content %}
	<article>
		<header>
			<h1>Hello, World</h1>
		</header>
	</article>
{% endblock %}
