{% redirect siteUrl %}

{% if not currentUser %}
	{% redirect 'login?redirect=' ~ craft.app.request.url|url_encode %}
{% endif %}

{% set error = craft.app.getSession().getError() %}
{% set success = craft.app.getSession().getSuccess() %}

{% set heading = 'Welcome' %}
{% set body = error ?? success ?? 'Select your children\'s classes to receive updates.' %}
{% set subscribedClasses = craft.subscriptions.getSubscribedClasses(currentUser.id) %}

{% extends '_layouts/html' %}

{% set loadForm = true %}

{% block content %}
	<article>
		<section>
			{% include '_components/subscriptions' with {
				heading: heading,
				body: body,
				form: create({
					class: 'modules\\notifications\\models\\Subscriptions',
					classes: subscribedClasses|map(c => c.id),
				}),
				hasError: error is not null,
				hasSuccess: success is not null
			} only %}
		</section>
	</article>
{% endblock %}
