/* This value is a SASS variable because it is used in media queries */
$page-max: 1600;

:root {
	/* Page */
	--p-min: 360;
	--p-max: #{$page-max};
	/* Spacing */
	--s: 6px;
	--s-xs: calc(var(--s) * 2);
	--s-sm: calc(var(--s) * 4);
	--s-md: calc(var(--s) * 8);
	--s-lg: calc(var(--s) * 16);
	--s-xl: calc(var(--s) * 32);
	--s-br-sm: 11px;
	--s-br-md: 22px;
	--s-br-lg: 33px;
	--s-icon-sm: 16px;
	--s-icon-md: 20px;
	--s-icon-lg: 24px;
	/* Width */
	--w: 111px;
	--w-xs: calc(var(--w) * 3);
	--w-sm: calc(var(--w) * 4);
	--w-md: calc(var(--w) * 5);
	--w-lg: calc(var(--w) * 7);
	--w-xl: calc(var(--w) * 10);
	/* height */
	--h-header: var(--s-lg);
	/* Color */
	--c-white: #FFF;
	--c-black: #000;
	--c-red-lt: #FF8585;
	--c-red-dk: #FF5757;
	--c-orange-lt: #FFBF78;
	--c-orange-dk: #FF7D29;
	--c-yellow-lt: #FEEFAD;
	--c-yellow-dk: #FDDE55;
	--c-green-lt: #BFEA7C;
	--c-green-dk: #9BCF53;
	--c-blue-lt: #CDF5FD;
	--c-blue-dk: #A0E9FF;
	--c-indigo-lt: #7E8EF1;
	--c-indigo-dk: #615EFC;
	--c-violet-lt: #F0E3FF;
	--c-violet-dk: #BEADFA;
	--c-bg-lt: #FBFBFB;
	--c-bg-dk: #303030;
	--c-fg-lt: #F4F4F4;
	--c-fg-md: #666;
	--c-fg-dk: #111;
	--c-br-lt: #AAA;
	--c-br-dk: #333;
	/* Animation */
	--a-s-xs: 160ms;
	--a-s-sm: 240ms;
	--a-s-md: 360ms;
	--a-s-lg: 666ms; /* The Devil's speed */
	--a-s-xl: 999ms;
	--a-xs: var(--a-s-xs) ease-in-out;
	--a-sm: var(--a-s-sm) ease-in-out;
	--a-md: var(--a-s-md) ease-in-out;
	--a-lg: var(--a-s-lg) ease-in-out;
	--a-xl: var(--a-s-xl) ease-in-out;
	--cursor-default: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='31' fill='none' viewBox='0 0 26 31'%3E%3Cpath fill='%23fff' fill-rule='evenodd' stroke='%23010101' stroke-linecap='square' stroke-width='2.5' d='M21.993 14.425 2.549 2.935l4.444 23.108 4.653-10.002 10.347-1.616Z' clip-rule='evenodd'/%3E%3C/svg%3E" ),auto;
}

@media screen and (min-width: #{$page-max}px) {
	:root {
		--p-screen: calc(var(--p-max) * 1px);
	}
}

html {
	font-size: 16px;
	scroll-behavior: smooth;
}

body {
	position: relative;
	overflow-x: hidden;
	min-width: calc(var(--p-min) * 1px);
	margin: 0 auto;
	font-family: system-ui;
	-webkit-font-smoothing: antialiased;
	background-color: var(--c-bg-lt);
	color: var(--c-fg-dk);
	cursor: var(--cursor-default);
}

main > article {
	padding-top: var(--h-header);
}

dialog {
	max-width: none;
	max-height: none;
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
}

[id] {
	scroll-margin-top: var(--h-header);
}

a {
	cursor: pointer;

	&[name] {
		display: inline-block;
		height: 0;
		line-height: 0;
	}
}

sub {
	vertical-align: sub;
	font-size: 0.5em;
}

sup {
	vertical-align: super;
	font-size: 0.5em;
}

img {
	display: block;
	max-width: 100%;
}

hr {
	border: 0;
	border-bottom: 1px solid var(--c-br-dk);
}

svg {
	display: block;
	width: 100%;
	height: 100%;
}

/* Remove search close button from input */
[type=text]::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}

[type=text]::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

[type="search"]::-webkit-search-decoration,
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-results-button,
[type="search"]::-webkit-search-results-decoration {
	display: none;
}

[type="text"],
[type="number"],
[type="search"],
[type="password"],
[type="email"],
[type="tel"],
[type="radio"],
[type="checkbox"],
[type="reset"],
[type="submit"],
select,
textarea {
	appearance: none;
	padding: 0;
	background: none;
	border: 0;
	border-radius: 0;
	outline: 0;

	&:-ms-expand {
		display: none;
	}
}

[type="checkbox"],
[type="radio"] {
	position: relative;
	display: inline-block;
	width: calc(1.5 * var(--s-xs));
	height: calc(1.5 * var(--s-xs));
	vertical-align: middle;
	border: 1px solid var(--c-black);

	&:checked:after {
		content: "";
		position: absolute;
		top: 2px;
		right: 2px;
		bottom: 2px;
		left: 2px;
		background-color: var(--c-indigo-dk);
	}
}

[type="radio"] {
	border-radius: 50%;
}

[type="file"],
[type="reset"],
[type="submit"],
label {
	cursor: pointer;
}

button {
	padding: 0;
	background: none;
	border: 0;
	border-radius: 0;
	cursor: pointer;

	&:disabled {
		cursor: inherit;
	}
}

details summary{
	list-style-type: none;

	&::-webkit-details-marker {
		display: none;
	}
}
