/**
 * Layout mixins
 */

// Weird syntax for native css `max` function instead of sass `max` function
// https://github.com/webpack-contrib/sass-loader/issues/930#issuecomment-785006897
@function pad($padding: var(--s-md), $max-width: calc(var(--p-max) * 1px), $cont-width: 100%) {
	@return m#{a}x($padding, calc(0.5 * (#{$cont-width} - #{$max-width})));
}

@mixin pad($padding: var(--s-md), $max-width: calc(var(--p-max) * 1px), $cont-width: 100%) {
	padding-left: pad($padding, $max-width, $cont-width);;
	padding-right: pad($padding, $max-width, $cont-width);;
}

@mixin space($padding: var(--s-md), $bottom: false) {
	padding-top: $padding;
	padding-bottom: if($bottom, $bottom, $padding);
}

@mixin absolute($top: auto, $right: auto, $bottom: auto, $left: auto) {
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin centerer($horizontal: true, $vertical: true) {
	position: absolute;
	top: if($vertical, 50%, auto);
	left: if($horizontal, 50%, auto);
	transform: translate(#{if($horizontal, -50%, 0)},
	#{if($vertical, -50%, 0)});
}

@mixin fullOverlay() {
	@include absolute(0, auto, auto, 0);
	width: 100%;
	height: 100%;
}

@mixin round($size: var(--s-md)) {
	position: relative;
	overflow: hidden;
	display: block;
	width: $size;
	height: $size;
	border-radius: 50%;
}

@mixin lineOverflow($height, $lines) {
	display: -webkit-box; // Allow for overflow ellipsis on max height
	-webkit-line-clamp: $lines; // number of lines to show
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: calc(#{$height} * #{$lines}); // max height of n lines
}

@mixin shadow($s: var(--s-xs)) {
	box-shadow: calc($s * 0.5) $s $s rgba(44, 44, 44, 0.5);
}

@mixin gridLines($cols, $color: var(--c-black)) {
	border: 1px solid $color;
	border-left: 0;

	&:nth-child(n + #{$cols + 1}) {
		border-top: 0;
	}

	&:nth-child(#{$cols}n + 1) {
		border-left: 1px solid $color;
	}
}
