@charset "utf-8";

@mixin font($type: "body", $size: 0) {
	font-family: system-ui;

	@if ($type == "heading") {
		font-weight: 400;

		@if ($size == 7) {
			font-size: range(66, 108);
			line-height: 1.1em;
			letter-spacing: range(0, -1.8);
		} @else if ($size == 6) {
			font-size: range(44, 92);
			line-height: 1.1em;
			letter-spacing: range(0, -1.8);
		} @else if ($size == 5) {
			font-size: range(36, 74);
			line-height: 1.1em;
			letter-spacing: range(-0.7, -1.5);
		} @else if ($size == 4) {
			font-size: range(32, 60);
			line-height: 1.1em;
			letter-spacing: range(-0.6, -1.2);
		} @else if ($size == 3) {
			font-size: range(26, 48);
			line-height: 1.1em;
			letter-spacing: range(-0.5, -0.9);
		} @else if ($size == 2) {
			font-size: range(20, 36);
			line-height: 1.1em;
			letter-spacing: range(-0.4, -0.75);
		} @else if ($size == 1) {
			font-size: range(18, 30);
			line-height: 1.1em;
			letter-spacing: range(-0.3, -0.6);
		} @else if ($size == 0) {
			font-size: range(15, 24);
			line-height: 1.1em;
			letter-spacing: range(-0.3, 0);
		} @else if ($size == -1) {
			font-size: range(14, 18);
			line-height: 1.1em;
			letter-spacing: range(-0.25, -0.3);
		} @else if ($size == -2) {
			font-size: range(13, 15);
			line-height: 1.1em;
			letter-spacing: range(0, -0.3);
		}
	} @else if ($type == "jumbo") {
		font-size: range(156, 372);
		font-weight: bold;
		line-height: range(1.1, 1.1, 1em);
		letter-spacing: range(-3.107, -7.455);
	} @else if ($type == "eyebrow") {
		font-weight: 500;

		@if ($size == -1) {
			font-size: range(13, 17);
			font-weight: lighter;
			line-height: range(1.1, 1.4, 1em);
		}
	} @else if ($type == "link") {
		font-weight: 444;

		@if ($size == 1) {
			font-size: range(24, 32);
			line-height: range(70, 80);
		} @else if ($size == 0) {
			font-size: range(18, 22);
			line-height: range(50, 60);
		} @else if ($size == -1) {
			font-size: range(16, 18);
			line-height: range(30, 40);
		}
	} @else {
		font-weight: 333;

		@if ($size == 1) {
			font-size: range(18, 28);
			line-height: 1.4em;
		} @else if ($size == 0) {
			font-size: range(15, 20);
			line-height: 1.4em;
		} @else if ($size == -1) {
			font-size: range(14, 18);
			line-height: 1.4em;
		} @else if ($size == -2) {
			font-size: range(13, 15);
			line-height: 1.4em;
		}
	}
}

@mixin bold() {
	font-weight: bold;
	letter-spacing: range(0.3, 0.5);
}

@mixin italic() {
	font-style: italic;
	letter-spacing: range(0.3, 0.5);
}

@mixin underline($t: 1px, $c: var(--c-green), $b: 0, $trigger: ".is-active") {
	position: relative;

	&:after {
		@include absolute(auto, 0, $b, 0);
		content: "";
		transform-origin: left;
		transform: scaleX(0);
		height: $t;
		background-color: $c;
		transition: transform var(--a-sm);
	}

	&#{$trigger}:after,
	&:hover:after {
		transform: scaleX(1);
	}
}

@mixin link($invert: false) {
	color: if($invert, var(--c-white), var(--c-black));

	&:hover {
		color: if($invert, var(--c-gold-lt), var(--c-green));
		text-decoration: underline;
	}
}

@mixin oList($size: "md") {
	@include font("body", if($size == "sm", -1, 0));
	list-style-type: decimal;
	color: var(--c-fg-md);

	> li {
		@include listMargin(var(--s-sm));
		margin-left: 1.5em;

		> ol,
		> ul {
			margin-top: var(--s-sm);
		}

		> ul {
			list-style-type: circle;
		}
	}
}

@mixin uList($size: "md") {
	@include font("body", if($size == "sm", -1, 0));
	list-style-type: disc;
	color: var(--c-fg-md);

	> li {
		@include listMargin(var(--s-sm));
		margin-left: 1.5em;

		> ol,
		> ul {
			margin-top: var(--s-sm);
		}

		> ul {
			list-style-type: circle;
		}
	}
}

@mixin richText($size: "md", $invert: false) {
	color: if($invert, var(--c-white), var(--c-fg-dk));

	&:has(table) {
		overflow-x: auto;
	}

	> * {
		@include listMargin(if($size == "sm", var(--s-sm), var(--s-md)));
		max-width: var(--w-2xl);
	}

	> h1, > h2, > h3, > h4, > h5, > h6 {
		@include listMargin(if($size == "sm", var(--s-sm), var(--s-md)));
	}

	> h1 {
		@include font("heading", 6);
	}

	> h2 {
		@include font("heading", 5);
	}

	> h3 {
		@include font("heading", 4);
	}

	> h4 {
		@include font("heading", 3);
	}

	> h5 {
		@include font("heading", 2);
	}

	> h6 {
		@include font("eyebrow", -1);
	}

	> p {
		@include font("body", if($size == "sm", -1, 0));
		color: if($invert, var(--c-white), var(--c-fg-md));
	}

	ol {
		@include oList($size);
	}

	ul {
		@include uList($size);
	}

	table {
		@include font("body", -1);
		min-width: var(--w-md);

		th,
		td {
			padding: var(--s-md);
			border: 1px solid vaR(--c-br-lt);

			> * {
				@include listMargin(var(--s-sm));
			}

			> ul,
			> li {
				@include font("body", -1);
			}
		}

		td {
			color: var(--c-fg-md);
		}

		> thead {
			background: var(--c-bg-lt);
		}
	}

	iframe {
		max-width: 100%;
	}

	figure {
		margin: var(--s-lg) 0;

		> figcaption {
			@include font("body", -2);
			margin-top: var(--s-xs);
			color: if($invert, var(--c-white), var(--c-fg-md));
		}
	}

	em {
		@include italic;
	}

	strong {
		@include bold;
	}

	a {
		@include link($invert);
	}
}

@mixin chevron($dir: "down", $size: "xs") {
	display: block;
	width: var(--s-icon-#{$size});
	height: var(--s-icon-#{$size});
	background: transparent;
	transform-origin: center;
	border-left: 3px solid var(--c-black);
	border-bottom: 3px solid var(--c-black);

	@if ($dir == "up") {
		transform: rotate(135deg);
	} @else if ($dir == "down") {
	} @else if ($dir == "left") {
		transform: rotate(45deg);
	} @else if ($dir == "right") {
		transform: rotate(225deg);
	}
}

@mixin cross($size: "sm", $color: var(--c-green)) {
	position: relative;
	width: var(--s-icon-#{$size});
	height: var(--s-icon-#{$size});

	&:before,
	&:after {
		@include centerer;
		content: "";
		height: var(--s-icon-#{$size});
		border-left: 2px solid $color;
	}

	&:before {
		transform-origin: center;
		transform: rotate(90deg) translate(calc(-0.5 * var(--s-icon-#{$size})), 0);
	}
}

@mixin button($type: "primary", $size: "md", $invert: false) {
	padding: 0 var(--s-sm);
	border-radius: var(--s-br-sm);
	transition: border-radius var(--a-xs);;

	@if ($size == "sm") {
		@include font("link", -1);
	} @else if ($size: "md") {
		@include font("link", 0);
	} @else if ($size: "lg") {
		@include font("link", 1);
	}

	@if ($type == "primary") {
		background-color: if($invert, var(--c-white), var(--c-black));
		color: if($invert, var(--c-black), var(--c-white));
	} @else if ($type: "secondary") {
		background-color: if($invert, var(--c-white), var(--c-black));
		color: if($invert, var(--c-black), var(--c-white));
		border: 1px solid if($invert, var(--c-white), var(--c-black));
	}

	&:hover {
		border-radius: 0;
	}

	> span {
		display: flex;
		align-items: center;
		transition: transform var(--a-xs);

		> svg {
			@include centerer(false, true);
			left: calc(-1 * var(--s-icon-#{$size}));
			opacity: 0;
			width: var(--s-icon-#{$size});
			height: var(--s-icon-#{$size});
			transition: opacity var(--a-sm);

			@if ($type == "primary") {
				fill: if($invert, var(--c-black), var(--c-white));
			} @else if ($type: "secondary") {
				fill: if($invert, var(--c-white), var(--c-black));
			}
		}
	}

	&:hover > span {
		transform: translateX(calc(0.5 * var(--s-icon-#{$size})));

		> svg {
			opacity: 1;
		}
	}
}
